html{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-color: white;
}

div{
	border:solid-chocolate;
}
head{
	font-family: 'Dosis', sans-serif;
	font-size:16px;
	color:#838994;
	letter-spacing: 0.03em
}
/*Navigation Section*/
h1{
	font-family: 'Dosis', sans-serif;
	font-size: 2.3em;
	color: #838994;
	letter-spacing: 0.03em;
	float:left;
	margin-left: 4rem;
}
.content{
	font-family: 'Raleway', sans-serif;
	margin:0 auto;
	font-size: 1.2rem;
	text-align: center;
}

.top-navigation {
    background-color: #fff;
    margin-bottom: 1.2rem;

}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
    height:4.375rem;
}

.introduction{
	background-image: url('../images/cover.jpg');
	opacity: .9;
	background-position: bottom center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}

.box-text {
	text-align: center;
}
.box{
	background-color: #fff;
	border-radius: 100%;
	height: 400px;
	width: 400px;
	margin: -250px 0 0 -150px;
	opacity: 0.4;
	position: absolute;
	top:40%;
	left:60%;
	display: inline-block;
	border: 1px solid #eaebec;
	text-align: center;
	box-sizing: border-box;
	padding: 0.625rem 0;
	margin-left: -40rem;
	margin-top: 3rem;
}
h2 {
	display: block;
	font-family: 'Dosis',sans-serif;
	text-align: center;
	font-size: 2.5rem;
	margin-top: 5rem;
}
h3 {
	font-family:'Dosis', sans-serif;
	font-size: 2.3rem;
	margin-left: 3rem;
	color: #838994;
}
.profile{
	background-color: white;
	margin:0 auto;
	margin-right: 3rem;
	margin-left: 3rem;
}
.profile-image {
	height: 300px;
   float: right;
   padding: 0 0 20px 20px;
   border-radius: 100%;
}
.profile-text{
	font-size: 4rem;
}
.portfolio{
	background-color: #1F2329;
	margin-bottom: 1rem;

}
.screenshot{
	height: auto;
	width: 40rem;
}
h4 {
	color:white;
	font-family:'Dosis', sans-serif;
	font-size: 2.3rem;
	margin-left: 3rem;
}
.icons{
	color:white;
	align-items: center;
	list-style: none;
	cursor: pointer;
}
.social .icons > li {
	height: 2.5rem;
	width: 2.5rem;
	display: inline-block;
	box-sizing: border-box;
	color: #838994;
}
h5{
	color:838994;
	text-align: center;
	font-family:'Dosis', sans-serif;
	font-size: 1.3rem;
}
footer{

	align:center;
}
.icons li span{
	color:white;
	display: block;
	text-align:center;
}
@media only screen and (max-width: 500px) {
    h2 {
        font-size: 3em;
    }
	.box{
	max-width: 500px;
	height: 50px;
	width:50px;
	position:fixed;
	align-self: center;

	}
	header{
		font-size: 3em;
	}
	.content{
		font-size: .03em;
	}
	.profile-text{
		font-size: 2em;
	}
}
