body {
	background-color: lightgray;
}

div{
	border:solid-chocolate;
}
/*Navigation Section*/
h1{
	font-family: 'Poiret-One', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
}
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
